body {
    margin: 0;

    font-family: 'Kaushan Script',  cursive;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    color:#333;
    line-height: 1.6;
}
*, 
*:before, 
*:after {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
/*Container*/
.container{
    width: 100%;
    max-width: 1200px;
    
    margin: 0 auto;

}
/*Intro*/
.intro{
    display: flex;
    flex-direction: column;
justify-content: center;

    width: 100%;
    height: 100vh;
   
    background: 
    url("../images/intro.jpg") 
    center no-repeat;
    background-size: cover;

}
.intro__inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}
.intro__tittle{
    color: #fff;
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;

    line-height: 1;
}
.intro__tittle::after{
    content: "";
    display: block ;
    width: 65px;
    height: 3px;
    margin: 28px auto;

    background-color: #fff;
}
.sup__tittle{
    margin-bottom: 20px;
    font-size: 64px;
    color: #fff;
    font-family: 'Kaushan Script',  cursive;
    
}
/*Header*/
.header{
    padding-top: 30px;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    

}
/*Navigation*/
.nav{
    
    font-size: 14px;
    text-transform: uppercase;

}
.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    text-decoration: none ;

    position: relative;

    transition: color .2s linear;
}
.nav__link:active{
    color: #fce38a;
    
}
.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
   
    

    background-color: #fce38a;
    opacity: 0;
    top: 100%;
    left: 0;
    z-index: 1;
    position: absolute;
    transition: opacity .1s linear;
}
.nav__link:hover{
color: #fce38a;
}
.nav__link:hover:after
.nav__link:active{
display: block;
opacity: 1;
}
/*Button*/
.btn{
    display: inline-block;
    vertical-align: top;
    padding:8px 30px;

    border: 3px solid #fff;

    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    transition: background .1s linear, color .1s linear;

}
.btn:hover{
    background: #fff;
    color:black;
}
/*Slider*/
.slider{
    position: absolute;
    left: 0; 
    bottom: 0;
    z-index: 1;
    width: 100%;
}
.slider__inner{

    display: flex;
    justify-content: space-between;

}

.slider__item{
    width: 23%;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    position: relative;

    padding: 10px 0;
    opacity: 0.7;
    border-top: 3px solid #fff;

}
.slider__item.active{
opacity: 1;

}
.slider__item.active:before{
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;

}

.slider__number{
    font-size: 20px;
    font-weight: 700;
}

/*Section*/
.section{
    padding: 80px 0;

}
.section__header{
    width: 100%;
    max-width: 950px;
    margin:0 auto 40px;
    text-align: center;
}
.section__suptitle{
    font-family: 'Kaushan Script',  cursive;
    font-size: 24px;
    color: #333;
}
.section_tittle{
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}
.section_tittle::after{
    content: "";
    display: block;
    width:60px;
    height: 3px;
    margin: 30px  auto 30px;
    background-color: #f38181;
}
.section__text{
    color: #999;
    font-size: 15px;
    font-family: Roboto;

}
.about{
    display:flex;
    justify-content: space-between;

}
.about__item{
    width: 380px;
    position: relative;
    background: #95e1d3;
    
}
.about__item:hover .about__img{
    transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img{
 opacity:.1;
}
.about__img{
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s linear;
}
.about__img img{
    display: block;
    transition: opacity .1s linear;
}
.about__text{ 
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
       
}